body {
    background-color      : #AEB519;
    background-image      : url('images/overlay.svg');
    background-repeat     : repeat;
    background-position   : top left;
    background-attachment : fixed;
    background-size       : auto;
    }

body.is-scroll {
    background-attachment : scroll;
    background-size       : auto;
    }

body.is-loading * {
    -moz-transition    : none !important;
    -webkit-transition : none !important;
    -o-transition      : none !important;
    -ms-transition     : none !important;
    transition         : none !important;
    -moz-animation     : none !important;
    -webkit-animation  : none !important;
    -o-animation       : none !important;
    -ms-animation      : none !important;
    animation          : none !important;
    }

body, input, textarea, select {
    font-size           : 18pt;
    line-height         : 1.75em;
    font-weight         : 300;
    letter-spacing      : 1px;
    color               : #3A3939;
    text-shadow         : 0 0 0.5px rgba(58, 57, 57, 0.25);
    -webkit-text-stroke : 0.25px;
    }

a {
    color               : #35B88F;
    text-shadow         : 0 0 0.5px rgba(53, 184, 143, 0.25);
    -moz-transition     : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-transition  : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -o-transition       : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -ms-transition      : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    transition          : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    text-decoration     : none;
    border-bottom-color : rgba(255, 255, 255, 0.5);
    }

a:hover {
    border-bottom-color : rgba(255, 255, 255, 0);
    }

.bcg {

    background-position : center;
    height              : 100%;
    width               : 100%;
    cursor              : default;
    text-shadow         : 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-align          : center;
    margin              : 0;
    color               : #FFFFFF;
    }

.bcg header h5 {
    font-family    : 'Architects Daughter', cursive;
    text-shadow    : 0 0 3px #000000;
    line-height    : 5em;
    font-size      : 0.8em;
    letter-spacing : 8px;
    cursor         : pointer;
    }

.bcg p {
    cursor      : pointer;
    font-family : 'Architects Daughter', cursive;
    text-shadow : 0 0 6px #000000;
    }

footer {
    position : absolute;
    bottom   : 2em;
    margin   : 0;
    width    : 100%;
    }

    }
footer h1, h2, h3, h4, h5, p, a {
    font-family : 'Oswald', sans-serif;
    }

footer a {
    margin : 0 20px 0 20px;
    }

/* Header   ------------------------------------------ */

#header {
    position                : relative;
    background-size         : cover;
    -moz-background-size    : cover;
    -webkit-background-size : cover;
    -o-background-size      : cover;
    /*CSS fadeIN  property duration timing-function delay*/
    -webkit-transition      : background 300ms ease-in 200ms;
    -moz-transition         : background 300ms ease-in 200ms;
    -o-transition           : background 300ms ease-in 200ms;
    transition              : background 300ms ease-in 200ms;
    }

#header header {
    display : inline-block;
    padding : 0 0 4.5em 0;
    }

/* Controls Bar : arrow  ----------------*/

.prevslide, .nextslide, .anewquote {
    cursor             : pointer;
    -moz-appearance    : none;
    -webkit-appearance : none;
    -o-appearance      : none;
    -ms-appearance     : none;
    appearance         : none;
    -moz-transition    : all 0.2s ease-in-out;
    -webkit-transition : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    -ms-transition     : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;

    }

.prevslide, .nextslide {
    position          : absolute;
    display           : inline-block;
    height            : 36px;
    width             : 18px;
    top               : 50%;
    margin-top        : -21px;
    line-height       : 2em;
    background-repeat : no-repeat;
    overflow          : hidden;
    }

.prevslide {
    left             : 35px;
    background-image : url('images/navleftr.svg');
    }

.nextslide {
    right            : 35px;
    background-image : url('images/navrightl.svg');
    }

.prevslide:active, .nextslide:active {
    background-image : url('images/navRLactive.svg');
    }

.prevslide:hover {
    background-image : url('images/navleft.svg');

    }

.nextslide:hover {
    background-image : url('images/navright.svg');

    }

#header header p {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family : 'Oswald', sans-serif;
    color       : rgba(255, 255, 255, 0.8);
    font-size   : 18px;
    font-weight : 100;
    line-height : 36px;
    padding     : 0;
    text-shadow : 0.6px 0.6px 1px #000000;
    padding     : 0;
    }

#header header h1 {
    font-family    : "Open Sans", sans-serif;
    font-weight    : 700;
    font-size      : 36px;
    letter-spacing : -0.05em;
    line-height    : 1.1;
    }

/* myQuotes ------------------------------------------ */

#myQuotes {
    position              : relative;
    background            : #63B02E url('http://static.panoramio.com/photos/large/100026342.jpg') no-repeat center center fixed;
    background-repeat     : no-repeat;
    background-attachment : fixed;
    background-size       : cover;
    }

#myQuotes header {
    /*margin : 0 0 2em 0;*/
    }

#anewquote {
    min-height : 18em;
    margin     : auto 80px auto 80px;
    }

#sectiontopic h4 {
    font-family : 'Oswald', sans-serif;
    font-size   : 0.8em;
    color       : #E6E6E6;
    cursor      : default;
    }

#sectiontopic p {
    color       : #E2E2E2;
    font-size   : 0.6em;
    font-family : 'Oswald', sans-serif;
    cursor      : default;
    }

/* myHumor  ------------------------------------------ */

#myHumor {
    position              : relative;
    background            : url('images/overlay.svg'), url('http://static.panoramio.com/photos/large/101153737.jpg');
    background-repeat     : repeat, no-repeat;
    background-attachment : fixed;
    background-size       : auto, cover;
    }

#myHumor header {
    /*margin : 1em 0 3em 0;*/
    }

#funny {
    min-height : 18em;
    margin     : auto 80px 0 80px;
    }

#funny h1 {
    /*cursor      : pointer;*/
    font-family : 'Architects Daughter', cursive;
    text-shadow : 0 0 6px #000000;
    }

#topichumor h4 {
    font-family : 'Oswald', sans-serif;
    font-size   : 0.8em;
    color       : #E6E6E6;
    /*cursor      : pointer;*/
    }

#topichumor p {
    color       : #E2E2E2;
    font-size   : 0.6em;
    font-family : 'Oswald', sans-serif;
    cursor      : default;
    }

/* section4    ------------------------------------------ */
#photography {
    position         : relative;
    background-color : #558A89;
    }

/* navigation   ------------------------------- */
#nql, #nqr, #njl, #njr {
    margin             : 0;
    padding            : 0 40px 0 40px;
    cursor             : pointer;
    color              : #FFFFFF;
    text-decoration    : none;
    font-family        : FontAwesome;
    display            : inline-block;
    vertical-align     : middle;

    -moz-appearance    : none;
    -webkit-appearance : none;
    -o-appearance      : none;
    -ms-appearance     : none;
    appearance         : none;
    -moz-transition    : all 0.2s ease-in-out;
    -webkit-transition : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    -ms-transition     : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;
    /*background-color   : #000000;*/
    }

#nql, #nqr {
    height            : 20px;
    background-repeat : no-repeat;
    overflow          : hidden;
    background-position: center;
    }

#nql {
    /*float: left;*/
    background-image : url('images/navleftr.svg');
    }

#nqr {
    /*float: right;*/
    background-image : url('images/navrightl.svg');
    }

#nql:active, #nqr:active {
    background-image : url('images/navRLactive.svg');
    }

#nql:hover {
    background-image : url('images/navleft.svg');
    }

#nqr:hover {
    background-image : url('images/navright.svg');
    }

#nql {
    background-image : url('images/navleftr.svg');
    }

/*#nql:hover:before {*/
    /*}*/

/*#nqr:before {*/
    /*}*/

/*#nqr:hover:before {*/

    /*}*/

#njl :before {
    content : "\f104";
    }

#njl:hover:before {
    /*content : "\f053";*/
    content : "\f100";

    }

#njr :before {
    content : "\f105";
    }

#njr:hover:before {
    content : "\f101";
    }

/* Footer   ------------------------------------------ */

#footer {
    position              : relative;
    text-shadow           : 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-align            : center;
    /*background: url("images/overlay-black.svg"), url("http://static.panoramio.com/photos/large/77835780.jpg");*/
    /*background: url("images/overlay.svg"), url("http://static.panoramio.com/photos/large/101153731.jpg");*/
    background            : url("images/overlay-black.svg"), #3C4757 url("http://static.panoramio.com/photos/large/101153731.jpg");
    background            : cover;
    background-repeat     : repeat, no-repeat;
    background-size       : auto, cover;
    background-position   : top left, center 0;
    background-attachment : fixed, fixed;
    font-family           : 'Oswald', sans-serif;

    }

#footer:after {
    content  : '';
    display  : block;
    position : absolute;
    top      : -4.5em;
    left     : 50%;
    height   : 4.5em;
    }

#footer a {
    color               : #FFFFFF;
    text-shadow         : 0 0 0.5px rgba(255, 255, 255, 0.25);
    border-bottom-color : rgba(255, 255, 255, 0.5);
    margin              : 0 3% 0 3%;
    }

#footer a:hover {
    color               : #35B88F;
    text-shadow         : 0 0 0.5px rgba(69, 200, 159, 0.25);
    border-bottom-color : rgba(53, 184, 143, 0.5);
    }

#footer .icons {
    padding       : 0.75em 2em 0.75em 2em;
    border-radius : 3em;
    border        : solid 1px #FFFFFF;
    display       : inline-block;
    margin        : 0 0 3em 0;
    }

#sitemap {
    }

/* List     ------------------------------------------ */

ul.default {
    list-style   : disc;
    padding-left : 1em;
    }

ul.default li {
    padding-left : 1.5em;
    margin-top   : 1.5em;
    }

ul.default li:first-child {
    margin-top : 0;
    }

ul.icons {
    cursor : default;
    }

ul.icons li {
    display : inline-block;
    }

ul.icons a {
    display     : inline-block;
    width       : 2.5em;
    height      : 2.5em;
    line-height : 2.5em;
    text-align  : center;
    border      : 0;
    }

ul.menu {
    cursor : default;
    }

ul.menu li {
    display     : inline-block;
    line-height : 1em;
    border-left : solid 1px #DAD9D9;
    padding     : 0 0 0 0.5em;
    margin      : 0 0 0 0.5em;
    }

ul.menu li:first-child {
    border-left  : 0;
    padding-left : 0;
    margin-left  : 0;
    }

ul.actions {
    cursor : default;
    }

ul.actions li {
    display : inline-block;
    margin  : 0 0 0 0.5em;
    }

ul.actions li:first-child {
    margin-left : 0;
    }

ul.default li:first-child {
    margin-top : 0;
    }

/* Button   ------------------------------------------ */

input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
    display            : inline-block;
    /*border             : 0;*/
    border-radius      : 3.5em;
    /*background         : #35b88f;*/
    /*color              : #fff;*/
    text-shadow        : 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-decoration    : none;
    text-align         : center;
    cursor             : pointer;
    outline            : 0;
    /*padding            : 0.5em;*/
    position           : relative;

    -moz-appearance    : none;
    -webkit-appearance : none;
    -o-appearance      : none;
    -ms-appearance     : none;
    appearance         : none;
    -moz-transition    : all 0.2s ease-in-out;
    -webkit-transition : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    -ms-transition     : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;
    }

.button.down {
    width               : 3em;
    height              : 3em;
    line-height         : 2.5em;
    padding             : 0;
    background-image    : url('images/navdownu.svg');
    background-position : center center;
    background-repeat   : no-repeat;
    text-indent         : -10em;
    overflow            : hidden;
    }

.button.down:hover {
    background-image : url('images/navdown.svg');
    }

.button.up {
    width               : 3em;
    height              : 3em;
    line-height         : 2.5em;
    padding             : 0;
    background-image    : url('images/navupd.svg');
    background-position : center center;
    background-repeat   : no-repeat;
    text-indent         : -10em;
    overflow            : hidden;
    }

.button.up:hover {
    background-image : url('images/navup.svg');
    }

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover {
    /*background-image   : url('images/arrow-dark.svg');*/
    -moz-transition    : all 0.2s ease-in-out;
    -webkit-transition : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    -ms-transition     : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;
    }

input[type="button"].style2,
input[type="submit"].style2,
input[type="reset"].style2,
.button.style2 {
    /*color      : #3a3939;*/
    /*background : #fff;*/
    box-shadow       : inset 0 0 0 1px #FFFFFF;
    background-color : transparent;
    /*border           : solid 1px #e5e6e7;*/
    color            : inherit;
    }

input[type="button"].style2:hover,
input[type="submit"].style2:hover,
input[type="reset"].style2:hover,
.button.style2:hover {
    /*background  : rgba(255, 255, 255, 0.1);*/
    color       : #000000 !important;
    text-shadow : 0 0 0.5px rgba(0, 0, 0, 0.95) !important;
    }

/* Icons    ------------------------------------------ */

.icon {
    text-decoration : none;
    }

.icon:before {
    display                 : inline-block;
    font-family             : FontAwesome;
    font-size               : 1.25em;
    text-decoration         : none;
    font-style              : normal;
    font-weight             : normal;
    line-height             : 1;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    }

.icon > .label {
    display : none;
    }