@charset "UTF-8";
/*
quotes
GuoJunjun
     created   19.08.2014
     updated    31 dec 2015
*/
html {
    background-color : #EEF3F5; /*#e2e2d6;*/
    }

body {
    text-shadow : #FFFFFF 0 1px 0;
    color       : #2C2C2C;
    font-family : "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
    font-weight : 400;
    line-height : 125%;
    }

a {
    text-decoration : none;
    }

a:link, a:visited {
    color : #739E30;
    }

a:hover {
    color           : #555555;
    text-decoration : none;
    /*background-color : #739E30;*/
    }

.my-header {
    color            : #739E30;
    font-family      : "Arial Black", Gadget, sans-serif;
    background-color : rgba(161, 175, 49, 0.1);
    padding          : 20px;
    }

#quotes {
    list-style-type : none;
    }

#quotes li {
    text-decoration  : none;
    margin-top       : 10px;
    margin-bottom    : 10px;
    padding          : 5px 20px;
    background-color : rgba(0, 0, 0, 0.05);
    }

#quotes p {
    line-height : 25px;
    }

#quotes img {
    display      : block;
    margin-left  : auto;
    margin-right : auto;
    padding      : 20px;
    }

.my-footer {
    background-color : rgba(161, 175, 49, 0.2) /*rgba(255, 120, 62, 0.1);*/
    }

.my-footer p, a {
    color       : #739E30;
    font-family : "Arial Black", Gadget, sans-serif;
    }

.my-foot-div {
    }

.my-max-width {
    max-width : 1024px;
    }

.my-extra-padding {
    padding : 20px;
    }
