body {
    background-color : #757575;
    }

body, input, textarea, select {
    font-size      : 18pt;
    line-height    : 1.75em;
    font-weight    : 300;
    letter-spacing : 1px;
    color          : #3A3939;
    text-shadow    : 0 0 0.5px rgba(58, 57, 57, 0.25);
    }

a {
    color               : #32CD32;
    text-shadow         : 0 0 0.5px rgba(50, 205, 50, 0.3);
    -moz-transition     : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-transition  : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -o-transition       : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -ms-transition      : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    transition          : border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    text-decoration     : none;
    border-bottom-color : rgba(255, 255, 255, 0.5);
    }

a:hover {
    border-bottom-color : rgba(255, 255, 255, 0);
    text-decoration     : none;
    }

header {
    position       : relative;
    padding-bottom : 70px;
    }

footer {
    position : absolute;
    bottom   : 2em;
    width    : 100%;
    }

footer h1, h2, h3, h4, h5, p, a {
    font-family : 'Oswald', sans-serif;
    }

footer a {
    margin : 0 0px 0 0px;
    }

/* bootstrap */
.container-fluid {
    padding-right : 0px;
    padding-left  : 0px;
    }

.row {
    margin : 0;
    }

.bcg {
    background-position : center;
    height              : 100%;
    width               : 100%;
    cursor              : default;
    text-shadow         : 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-align          : center;
    margin              : 0;
    color               : #FFFFFF;
    padding-top         : 4em;
    display             : block;
    }

.bcg header h5 {
    font-family    : 'Architects Daughter', cursive;
    text-shadow    : 0 0 3px #000000;
    line-height    : 5em;
    font-size      : 0.8em;
    letter-spacing : 8px;
    cursor         : default;
    }

.bcg p {
    cursor      : default;
    font-family : 'Architects Daughter', cursive;
    text-shadow : 0 0 6px #000000;
    }

/* Icons    ------------------------------------------ */
.icon {
    text-decoration    : none;
    cursor             : pointer;
    -moz-appearance    : none;
    -webkit-appearance : none;
    -o-appearance      : none;
    -ms-appearance     : none;
    appearance         : none;
    -moz-transition    : all 0.2s ease-in-out;
    -webkit-transition : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    -ms-transition     : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;
    }

.icon:before {
    display                 : inline-block;
    font-family             : FontAwesome;
    font-size               : 1.25em;
    text-decoration         : none;
    font-style              : normal;
    font-weight             : normal;
    line-height             : 1;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    }

.icon > .label {
    display : none;
    }

.socialicons {
    padding : 0;
    }

.my-padding-r-f {
    padding-right : 50px;
    padding-left  : 50px;
    }

/*------ first page -------*/
#page-home {
    position                : relative;
    background-size         : cover, cover;
    background-repeat       : repeat, no-repeat;
    background-position     : top left, center 0;
    background-attachment   : fixed, fixed;
    -moz-background-size    : cover;
    -webkit-background-size : cover;
    -o-background-size      : cover;
    /*CSS fadeIN  property duration timing-function delay*/
    -webkit-transition      : background 600ms ease-in 500ms;
    -moz-transition         : background 600ms ease-in 500ms;
    -o-transition           : background 600ms ease-in 500ms;
    transition              : background 600ms ease-in 500ms;
    }

#page-home .my-upper {
    top : 30%;
    }

#page-home header {
    display : inline-block;
    padding : 0 0 1em 0;
    }

#page-home header p {
    font-family : 'Oswald', sans-serif;
    color       : rgba(255, 255, 255, 0.8);
    font-size   : 18px;
    font-weight : 100;
    line-height : 36px;
    padding     : 0;
    text-shadow : 0.6px 0.6px 1px #000000;
    }

#page-home header h1 {
    font-family    : "Open Sans", sans-serif;
    font-weight    : 700;
    font-size      : 36px;
    letter-spacing : -0.05em;
    line-height    : 1.1em;
    }

#page-home nav {
    margin  : 1.5em 0px 0 0px;
    padding : 0;
    }

#page-home nav li {
    -moz-animation              : nav-icons 0.5s ease-in-out forwards;
    -webkit-animation           : nav-icons 0.5s ease-in-out forwards;
    -o-animation                : nav-icons 0.5s ease-in-out forwards;
    -ms-animation               : nav-icons 0.5s ease-in-out forwards;
    animation                   : nav-icons 0.5s ease-in-out forwards;
    -moz-backface-visibility    : hidden;
    -webkit-backface-visibility : hidden;
    -o-backface-visibility      : hidden;
    -ms-backface-visibility     : hidden;
    backface-visibility         : hidden;
    -moz-transform              : translate3d(0, 0, 0);
    -webkit-transform           : translate3d(0, 0, 0);
    -o-transform                : translate3d(0, 0, 0);
    -ms-transform               : translate3d(0, 0, 0);
    transform                   : translate3d(0, 0, 0);
    display                     : inline-block;
    height                      : 3.5em;
    width                       : 3.5em;
    line-height                 : 4.885em;
    position                    : relative;
    top                         : 50px;
    }

#page-home nav a {
    -webkit-tap-highlight-color : transparent;
    -webkit-touch-callout       : none;
    border                      : 0;
    display                     : inline-block;
    color                       : rgba(255, 255, 255, 0.7);
    }

#page-home nav a:before {
    -moz-transition    : all 0.3s ease-in-out;
    -webkit-transition : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    -ms-transition     : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
    border-radius      : 100%;
    border             : solid 1px white;
    display            : block;
    font-size          : 1.5em;
    height             : 2em;
    width              : 2em;
    line-height        : 2em;
    position           : relative;
    text-align         : center;
    top                : 0;
    }

#page-home nav a:hover {
    font-size : 1.1em;
    }

#page-home nav a:hover:before {
    background-color : rgba(255, 255, 255, 0.175);
    color            : white;
    }

#page-home ul.socialicons .label {
    opacity : 0;
    }

#page-home ul.socialicons a:hover .label {
    width              : 100%;
    height             : 100%;
    position           : absolute;
    font-size          : medium;
    top                : -30px;
    left               : 0;
    display            : inline-block;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    opacity            : 1;
    }

#logo {
    cursor                      : pointer;
    width                       : 64px;
    height                      : 48px;
    display                     : inline-block;
    background                  : url(../../junjunguofiles/GuoJunJun.png) top center no-repeat;
    padding                     : 0;
    margin                      : 0 auto 1em auto;
    border                      : none;
    -webkit-transition-duration : 0.5s;
    -moz-transition-duration    : 0.5s;
    -o-transition-duration      : 0.5s;
    transition-duration         : 0.5s;

    -webkit-transition-property : -webkit-transform;
    -moz-transition-property    : -moz-transform;
    -o-transition-property      : -o-transform;
    transition-property         : transform;
    overflow                    : hidden;
    }

#logo:hover {
    -webkit-transform : rotate(360deg);
    -moz-transform    : rotate(360deg);
    -o-transform      : rotate(360deg);
    }

/* Controls Bar : arrow  ----------------*/

.arrow-left, .arrow-right {
    position          : absolute;
    display           : inline-block;
    top               : 50%;
    margin-top        : -21px;
    line-height       : 2em;
    background-repeat : no-repeat;
    overflow          : hidden;
    color             : rgba(255, 255, 255, .4);
    }

.arrow-left {
    left : 45px;
    }

.arrow-right {
    right : 45px;
    }

.arrow-left:hover {
    color     : rgba(255, 255, 255, .9);
    font-size : 1.1em;
    }

.arrow-right:hover {
    color     : rgba(255, 255, 255, .9);
    font-size : 1.1em;
    }

/*------------------ page 2: quotes ---------------------*/
#page-quote {
    position              : relative;
    background            : url('../../2015/images/bg/100026342.jpg');
    background-repeat     : no-repeat;
    background-attachment : fixed;
    background-size       : cover;
    }

#anewquote h5 {
    /*margin-top  : 1.5em;*/
    line-height : 1.5em;
    }

/* page  quote, page humor*/
.section-topic .icon {
    color : rgba(255, 255, 255, .4);
    }

.section-topic .icon:hover {
    color : rgba(255, 255, 255, .9);
    }

.section-topic h4 {
    font-family : 'Oswald', sans-serif;
    font-size   : 0.8em;
    color       : #E6E6E6;
    cursor      : default;
    }

.section-topic p {
    color       : #E2E2E2;
    font-size   : 0.6em;
    font-family : 'Oswald', sans-serif;
    cursor      : default;
    }

#page-quote .bcg, #page-humor .bcg {
    padding-top : 0;
    }

/* content center */
#page-humor header, #page-quote header {
    padding-bottom      : 100px;
    height              : 100%;
    display             : -ms-flexbox;
    display             : -webkit-flex;
    display             : flex;
    -webkit-flex-align  : center;
    -ms-flex-align      : center;
    -webkit-align-items : center;
    align-items         : center;
    justify-content     : center;
    overflow            : visible;
    }

/*------------------ page 3: humor ---------------------*/
#page-humor {
    position              : relative;
    background            : url('../../2015/css/images/overlay.svg'), url('../../2015/images/bg/101153737.jpg');
    background-repeat     : repeat, no-repeat;
    background-attachment : fixed;
    background-size       : auto, cover;
    }

#page-humor {
    }

#funny img {
    margin : 0 auto 0 auto;
    }

#funny h3 {
    font-family : 'Architects Daughter', cursive;
    text-shadow : 0 0 6px #000000;
    }

/*------------------ page 6: panoramio ---------------------*/
#page-panoramio {
    position              : relative;
    background            : url("../../2015/images/bg/109646016.jpg");
    background-repeat     : no-repeat;
    background-attachment : fixed;
    background-size       : cover;
    }

#page-panoramio .bcg {
    padding : 0;
    }

.carousel-inner img {
    max-height : 200px;
    }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin : auto;
    }

.carousel-caption h2 {
    text-shadow : 0 0 0.5px rgba(50, 205, 50, 0.7);
    }

.carousel-caption h4 {
    font-size   : 0.6em;
    text-shadow : 0 0 0.5px rgba(50, 205, 50, 0.5);
    }

.carousel-caption a {
    color : #FFFFFF;;
    }

.carousel-caption a:hover {
    color               : #32CD32;
    text-shadow         : 0 0 5px rgba(50, 205, 50, 0.4);
    border-bottom-color : rgba(50, 205, 50, 0.6);
    }

.carousel-caption p {
    color       : #E2E2E2;
    text-shadow : 0 0 0.5px rgba(0, 0, 0, 0.5);
    font-size   : 0.6em;
    font-family : 'Oswald', sans-serif;
    cursor      : default;
    }

/*------------------ page 7: flickr ---------------------*/
#page-flickr {
    position              : relative;
    background            : url("../../2015/images/bg/109172199.jpg");
    background-repeat     : no-repeat;
    background-attachment : fixed;
    background-size       : cover;
    }

#page-flickr .bcg {
    padding : 0;
    }

/*------------------ page 2: individual ---------------------*/
#page-portfolio {
    position              : relative;
    background            : url("../../2015/images/bg/100026342.jpg");
    background-repeat     : no-repeat;
    background-attachment : fixed;
    background-size       : cover;
    }

#page-portfolio ul {
    list-style-type : none;
    }

#page-portfolio ul li {
    text-align : center;
    padding    : 10px 0 10px 0;
    }

.my-google-play {
    width : 200px;
    }

.my-v-center {
    display     : flex;
    align-items : center;
    }

.portfolio-project-info {
    padding          : 0;
    vertical-align   : baseline;
    position         : relative;
    display          : inline-block;
    border           : 1px solid #FFFFFF;
    margin           : 15px auto 15px auto;
    color            : rgba(255, 255, 255, 0.7);
    font             : 12px 'PT Sans', sans-serif;
    text-align       : center;
    background-color : rgba(255, 255, 255, 0.7);
    }

.portfolio-project-info h1 {
    line-height   : 36px;
    font-weight   : normal;
    font-family   : "Oswald", sans-serif;
    font-size     : 16px;
    padding       : 0 20px 10px 20px;
    margin-bottom : 0;
    border        : 0 none;

    }

.portfolio-project-info p {
    padding        : 0 10px;
    position       : absolute;
    top            : -10px;
    right          : 0;
    left           : 0;
    letter-spacing : 1px;
    text-transform : uppercase;
    border         : 0 none;
    }

.portfolio-project-info p span {
    padding          : 0 10px;
    background-color : rgba(255, 255, 255, 0.7);
    }

#page-portfolio .slide {
    position              : relative;
    background-repeat     : no-repeat;
    background-attachment : fixed;
    background-size       : cover;
    }

#portfolio-slide-pocketmaps h1, #portfolio-slide-pocketmaps h4, #portfolio-slide-pocketmaps p, #portfolio-slide-pocketmaps a {
    color       : #009688;
    text-shadow : 0 0 0.5px #B2DFDB;
    }

#portfolio-slide-pocketmaps ul li a:hover {
    color       : #B2DFDB;
    text-shadow : 0 0 0.5px #009688;
    }

#portfolio-slide-pocketmaps .my-app-icon {
    width : 200px;
    }

#portfolio-slide-pocketmaps {
    background : url("http://junjunguo.com/PocketMaps/images/pocketmapsfind.jpg");
    }

#portfolio-slide-b .project-a h1, #portfolio-slide-b .project-a p, #portfolio-slide-b .project-a a {
    color       : #157515;
    text-shadow : 0 0 0.5px rgba(255, 255, 255, 0.25);
    }

#portfolio-slide-b .project-a ul li a:hover {
    color               : #32CD32;
    text-shadow         : 0 0 5px rgba(50, 205, 50, 0.4);
    border-bottom-color : rgba(50, 205, 50, 0.6);
    }

#portfolio-slide-b .project-a .my-app-icon {
    height : 80px;
    }

#portfolio-slide-b .project-b .my-app-icon {
    max-height : 300px;
    }

#portfolio-slide-b .project-b h1, #portfolio-slide-b .project-b p, #portfolio-slide-b .project-b a {
    color       : #E87014;
    text-shadow : 0 0 0.5px rgba(255, 255, 255, 0.25);
    }

#portfolio-slide-b .project-b ul li a:hover {
    color       : #F5B88A;
    text-shadow : 0 0 5px #E87014;
    }

#portfolio-slide-b .project-c .my-app-icon {
    max-height : 300px;
    }

#portfolio-slide-b .project-c h1, #portfolio-slide-b .project-c p, #portfolio-slide-b .project-c a {
    color       : #4C525E;
    text-shadow : 0 0 0.5px #4E6495;
    }

#portfolio-slide-b .project-c ul li a:hover {
    color       : #4E6495;
    text-shadow : 0 0 5px #4C525E;
    }

#portfolio-slide-c .my-app-icon {
    max-width : 320px;
    }

#portfolio-slide-c .project-a h1, #portfolio-slide-c .project-a p, #portfolio-slide-c .project-a a {
    color       : #204A03;
    text-shadow : 0 0 0.5px #82C25C;
    }

#portfolio-slide-c .project-a ul li a:hover {
    color       : #82C25C;
    text-shadow : 0 0 5px #204A03;
    }

#portfolio-slide-c .project-b h1, #portfolio-slide-c .project-b p, #portfolio-slide-c .project-b a {
    color       : #1D9EEA;
    text-shadow : 0 0 0.5px #9DD5F1;
    }

#portfolio-slide-c .project-b ul li a:hover {
    color       : #9DD5F1;
    text-shadow : 0 0 5px #1D9EEA;
    }

#portfolio-slide-c .project-c h1, #portfolio-slide-c .project-c p, #portfolio-slide-c .project-c a {
    color       : #90642C;
    text-shadow : 0 0 0.5px #BC9E80;
    }

#portfolio-slide-c .project-c ul li a:hover {
    color       : #BC9E80;
    text-shadow : 0 0 5px #90642C;
    }

/* footer */
#footer {
    position              : relative;
    text-shadow           : 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-align            : center;
    background            : url("../../2015/css/images/overlay-black.svg"), #3C4757 url("../../2015/images/bg/106397977.jpg");
    /*background            : cover;*/
    background-repeat     : repeat, no-repeat;
    background-size       : auto, cover;
    background-position   : top left, center 0;
    background-attachment : fixed, fixed;
    font-family           : 'Oswald', sans-serif;
    /*CSS fadeIN  property duration timing-function delay*/
    -webkit-transition    : background 500ms ease-in 600ms;
    -moz-transition       : background 500ms ease-in 600ms;
    -o-transition         : background 500ms ease-in 600ms;
    transition            : background 500ms ease-in 600ms;

    }

#footer:after {
    content  : '';
    display  : block;
    position : absolute;
    top      : -4.5em;
    left     : 50%;
    height   : 4.5em;
    }

#footer a {
    color               : #FFFFFF;
    text-shadow         : 0 0 0.5px rgba(255, 255, 255, 0.25);
    border-bottom-color : rgba(255, 255, 255, 0.5);
    margin              : 0 3% 0 3%;
    }

#footer a:hover {
    color               : #32CD32;
    text-shadow         : 0 0 5px rgba(50, 205, 50, 0.4);
    border-bottom-color : rgba(50, 205, 50, 0.6);
    }

#footer .socialicons {
    padding : 0;
    }

#footer .socialicons li {
    -moz-animation    : nav-icons 0.5s ease-in-out forwards;
    -webkit-animation : nav-icons 0.5s ease-in-out forwards;
    -o-animation      : nav-icons 0.5s ease-in-out forwards;
    -ms-animation     : nav-icons 0.5s ease-in-out forwards;
    animation         : nav-icons 0.5s ease-in-out forwards;
    -moz-transform    : translate3d(0, 0, 0);
    -webkit-transform : translate3d(0, 0, 0);
    -o-transform      : translate3d(0, 0, 0);
    -ms-transform     : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
    display           : inline-block;
    height            : 3.5em;
    width             : 3.5em;
    line-height       : 3.885em;
    position          : relative;
    /*border            : double;*/
    margin            : 15px 0 15px 0;
    }

#footer .socialicons a {
    -webkit-tap-highlight-color : transparent;
    -webkit-touch-callout       : none;
    border                      : 0;
    display                     : inline-block;
    color                       : rgba(255, 255, 255, 0.5);
    }

#footer .socialicons a:before {
    -moz-transition    : all 0.4s ease-in-out;
    -webkit-transition : all 0.4s ease-in-out;
    -o-transition      : all 0.4s ease-in-out;
    -ms-transition     : all 0.4s ease-in-out;
    transition         : all 0.4s ease-in-out;
    border-radius      : 100%;
    border             : solid 1px white;
    display            : block;
    font-size          : 1.3em;
    height             : 2em;
    width              : 2em;
    line-height        : 2em;
    position           : relative;
    text-align         : center;
    top                : 0;
    }

#footer ul.socialicons a:hover {
    font-size : 1.2em;
    color     : rgba(50, 205, 50, 1);
    }

#sitemap {
    margin-bottom  : 2em;
    text-transform : uppercase;
    font-size      : 18px;
    }

#footer .f-left {
    display : flex;
    float   : left;
    }

#footer .f-center {
    /*display : flex;*/
    }

#footer .f-right {
    display : flex;
    float   : right;
    }

#footer footer {
    /*margin-bottom: 2em;*/
    bottom : 5em;
    }

#footer .copyright {
    position         : absolute;
    width            : 100%;
    background-color : rgba(0, 0, 0, 0.6);
    bottom           : -5em;
    padding-bottom   : 0;
    margin-bottom    : 0;
    }

#footer .copyright P {
    font-family : "Open Sans", sans-serif;
    font-weight : 100;
    font-size   : 12px;
    }

#footer .copyright a {
    font-weight : 100;
    font-size   : 12px;
    }

#footer .copyright img {
    cursor             : crosshair;
    height             : 30px;
    width              : auto;
    vertical-align     : middle;
    padding            : 0 5em 0 5em;
    -webkit-transition : all 1s ease;
    -moz-transition    : all 1s ease;
    -o-transition      : all 1s ease;
    -ms-transition     : all 1s ease;
    transition         : all 1s ease;
    }

#footer .copyright img:hover {
    -webkit-transform : rotate(360deg);
    -moz-transform    : rotate(360deg);
    -o-transform      : rotate(360deg);
    }

#footer ul.socialicons a:hover .label {
    width              : 100%;
    height             : 100%;
    position           : absolute;
    font-size          : medium;
    top                : -25px;
    left               : 0;
    display            : inline-block;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    }

/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) {
    }

/* Medium devices (desktops, 992px and down) */
@media (max-width : 992px) {
    #portfolio-slide-c .my-app-icon {
        max-width : 250px;
        }

    .portfolio-project-info h1 {
        line-height : 30px;
        }
    }

@media (max-width : 768px) {
    .my-mobile-hide {
        display : none;
        }

    .bcg {
        padding-top : 0.2em;
        }

    .section-topic h4, #funny h3, #anewquote h5 {
        font-size : 0.7em;
        }

    header p {
        line-height : 1.5em;
        }

    #anewquote p, #funny p {
        font-size : 0.8em;
        }

    .my-padding-r-f {
        padding-right : 5px;
        padding-left  : 5px;
        }

    /* first page */
    #page-home header p {
        font-size : 16px;
        }

    #page-home header h1 {
        font-size   : 24px;
        line-height : 1.0em;
        }

    #page-home nav {
        margin : 0 0px 0 0px;
        }

    #page-home nav li {
        height      : 2.5em;
        width       : 2.5em;
        line-height : 3em;
        }

    #page-home nav a:before {
        font-size   : 1.3em;
        height      : 2em;
        width       : 2em;
        line-height : 2em;
        }

    #page-home nav a:hover {
        font-size : 1.05em;
        }

    #page-home ul.socialicons a:hover .label {
        }

    #logo {
        margin : 2em auto 1em auto;
        }

    #page-portfolio ul li {
        text-align : center;
        padding    : 0px 0 0px 0;
        }

    .portfolio-project-info h1 {
        line-height : 26px;
        font-size   : 14px;
        }

    #portfolio-slide-pocketmaps .my-app-icon {
        max-width : 100px;
        }

    .my-google-play {
        max-width : 160px;
        }

    #portfolio-slide-b .project-a .my-app-icon {
        height : 60px;
        }

    #portfolio-slide-b .project-b .my-app-icon {
        height : 220px;
        }

    #portfolio-slide-b .project-c .my-app-icon {
        height : 220px;
        }

    #portfolio-slide-c .my-app-icon {
        max-width : 220px;
        }

    .row.my-v-center {
        display : block; /* turn off the flexible box layout */
        }

    /* footer */
    #sitemap {
        font-size : 12px;
        }

    #footer .f-left {
        display : block;
        float   : none;
        }

    #footer .f-center {
        display : block;
        float   : none;
        }

    #footer .f-right {
        display : block; /* turn off the flexible box layout */
        float   : none;
        }
    }

@media screen and (min-height : 300px) {
    .carousel-inner img {
        max-height : 300px;
        }
    }

@media screen and (min-height : 400px) {
    .carousel-inner img {
        max-height : 400px;
        }
    }

@media screen and (min-height : 500px) {
    .carousel-inner img {
        max-height : 500px;
        }
    }

@media screen and (min-height : 600px) {
    .carousel-inner img {
        max-height : 600px;
        }
    }

@media screen and (min-height : 700px) {
    .carousel-inner img {
        max-height : 700px;
        }
    }

@media screen and (min-height : 800px) {
    .carousel-inner img {
        max-height : 800px;
        }
    }

@media screen and (min-height : 900px) {
    .carousel-inner img {
        max-height : 900px;
        }
    }
